<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <cpn></cpn>
    <cpn>
        <!--获取子组件中的数据,vue2.5x以前需要使用template模板-->
        <!--该处使用slot-scope来获取子类的slot对象，再通过该对象来获取插槽中的数据-->
        <template slot-scope="slot">
            <span v-for="item in slot.arr"> {{item}} </span>

        </template>
    </cpn>
</div>

<template id="cpn1">
    <div>
        <h2>子组件</h2>
        <!--可以在此处自定义一个变量，让后让父类通过slot-scope获取该slot对象-->
        <slot :arr="pLanguages">
            <ul>
                <li v-for="item of pLanguages">{{item}}</li>
            </ul>
        </slot>
    </div>
</template>
<script src="../../js/vue.js"></script>
<script>
    /**
     * 父组件替换插槽的标签，但是内容由子组件来提供
     */
    const app = new Vue({
        el: '#app',
        data: {
            isShow: true
        },
        components: {
            cpn: {
                template: '#cpn1',
                data() {
                    return {
                        pLanguages: ['javaScript', 'java', 'C', 'python']
                    }
                }
            }
        }
    })
</script>

</body>
</html>