<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue hello demo</title>
</head>
<body>
<div id="div1">
    <!--v-model的双向绑定-->
    <label for="man">
        <!--添加name属性可以是选择互斥-->
        <input type="radio" id="man"  value="男" v-model="sex"/>男
    </label>
    <label for="woman">
        <input type="radio" id="woman"  value="女" v-model="sex"/>女
    </label>
    <h3>{{sex}}</h3>
</div>

<script src="../../js/vue.js"></script>
<script>
    let app = new Vue({
        el: '#div1',
        data: {// 定义数据
            message1: 'hello,vue',
            sex: ''
        }
    })
</script>

</body>
</html>